.main-header__logo {
  :hover {
    color: #d22856;
  }

  :active {
    color: fade(#ffffff;30%);
  }
}

.main-header {
  background-color: fade(#000000;30%);
  min-width: 320px;
  min-height: 66px;
}

.main-nav__wrapper {
  display: none;
}

.main-nav__toggle {
  background-color: transparent;
  border: none;

  :hover {
    color: #d22856;
  }

  :active {
    color: fade(#d22856;30%);
  }
}

.site-list__item {
  line-height: 32px;
  font-weight: 700;
  color: #ffffff;
}

.main-header__promo {
  background-image: url("../img/banner.jpg");
  background-repeat: no-repeat;
  background-size: 320px 286px;
}


.main-promo__title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 300;
  color: #ffffff;
}
