.reviews__list {
  position: relative;
  text-align: center;
  margin: 0 auto;
  overflow: hidden;
}

.reviews__item {
  position: absolute;
  width: 320px;
  height: 364px;
}

.reviews__author-name {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  margin-top: 50px;
}

.reviews__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
}

