.form-name__wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    flex-wrap: wrap;
  }

  @media (min-width: @desktop-width) {
    flex-wrap: wrap;
  }
}

.form-name__wrapper label {
  @media (min-width: @tablet-width) {
    display: flex;
    align-items: center;
  }

  @media (min-width: @desktop-width) {
    flex-wrap: wrap;
  }
}

.form-name__wrapper span {
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  color: #d22856;
  margin: 0 20px 17px;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    margin: 0;
    margin-right: 20px;
  }
}

.form-name__surname-field {
  width: 276px;
  height: 59px;
  border: 2px solid #e5e5e5;
  margin-top: 17px;
  margin-bottom: 29px;
  padding-left: 20px;
  box-sizing: border-box;

  :hover {
    border-color: #283645;
  }

  :active {
    border-color: #d22856;
  }

  @media (min-width: @tablet-width) {
    width: 521px;
  }

  @media (min-width: @desktop-width) {
    width: 336px;
  }
}

.form-name__name-field {
  width: 276px;
  height: 59px;
  border: 2px solid #e5e5e5;
  margin-top: 17px;
  margin-bottom: 29px;
  padding-left: 20px;
  box-sizing: border-box;

  :hover {
    border-color: #283645;
  }

  :active {
    border-color: #d22856;
  }

  @media (min-width: @tablet-width) {
    width: 561px;
  }

  @media (min-width: @desktop-width) {
    width: 376px;
  }
}

.form-name__patronymic-field {
  width: 276px;
  height: 59px;
  border: 2px solid #e5e5e5;
  margin-top: 17px;
  margin-bottom: 29px;
  padding-left: 20px;
  box-sizing: border-box;

  :hover {
    border-color: #283645;
  }

  :active {
    border-color: #d22856;
  }

  @media (min-width: @tablet-width) {
    width: 521px;
  }

  @media (min-width: @desktop-width) {
    width: 336px;
  }
}

input::placeholder {
  font-size: 18px;
  line-height: 30px;
  color: #283645;
}
