.form-header__logo {
  :hover {
    color: #d22856;
  }

  :active {
    color: fade(#ffffff;30%);
  }
}

.form-header {
  background-color: fade(#000000;30%);
  min-width: 320px;
  min-height: 66px;
}
