.form-reviews__wrapper {
  display: flex;
}

.form-reviews__title {
  color: #d22856;
  margin-top: 42px;
  text-align: center;
}

.form-for-review input {
  border: 2px solid #e5e5e5;
  min-width: 276px;
  min-height: 197px;
  margin: 22px;
}

.form-reviews__button {
  width: 276px;
  height: 59px;
  background-color: #2aab6d;
  border: 2px solid #2aab6d;
  border-radius: 1px;
  color: #ffffff;
  text-align: center;
  margin-top: 30px;

  :hover {
    background-color: #1c9b5e;
    border-color: #1c9b5e;
  }

  :active {
    background-color: #1c9b5e;
    border-color: #1c9b5e;
    color: fade(#ffffff;30%);
  }
}

.form-reviews__reminder {
  font-size: 14px;
  line-height: 30px;
  margin-bottom: 26px;
}

.form-reviews__reminder::first-letter {
  color: #d22856;
}
