.form-header__logo {
  :hover {
    color: #d22856;
  }

  :active {
    color: fade(#ffffff;30%);
  }
}

.form-header {
  background-color: fade(#000000;30%);
  min-width: 320px;
  min-height: 66px;
}

.form-nav__toggle {
  background-color: transparent;
  border: none;

  :hover {
    color: #d22856;
  }

  :active {
    color: fade(#d22856;30%);
  }
}

.site-list__item {
  line-height: 32px;
  font-weight: 700;
  color: #ffffff;
}


.promo-tittle {
  font-size: 24px;
  line-height: 28px;
  font-weight: 300;
  color: #ffffff;
}
