.form-contest {
  display: flex;
  flex-wrap: wrap;
  order: 1;
}

.form-contest__description {
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;

  @media (min-width: @tablet-width) {
    font-size: 18px;
  }

  @media (min-width: @desktop-width) {
    font-size: 18px;
  }
}
